<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/components/images/images.css" />
    <title>Images | component</title>
  </head>
  <body>
    <div class="wrapper">
      <!-- NavBar starts here  -->
      <nav id="navbar">
        <h1 class="logo">
          <span class="text-primary">
            <i class="fa-brands fa-uikit"></i>
            CRIPSY </span
          >UI
        </h1>
        <ul>
          <li><a href="/components/alert/alert.html">DOCS</a></li>
          <li><a href="https://github.com/kr-sarvesh/Cripsy_UI">GITHUB</a></li>
        </ul>
      </nav>
      <!-- bottom sidebar starts here -->
      <div class="bottom-nav">
        <ul>
          <li><a href="/components/alert/alert.html">Alert</a></li>
          <li><a href="/components/avatar/avatar.html">Avatar</a></li>
          <li><a href="/components/badges/badges.html">Badges</a></li>
          <li><a href="/components/buttons/buttons.html">Buttons</a></li>
          <li><a href="/components/cards/cards.html">Card</a></li>
          <li><a href="/components/images/images.html">Images</a></li>
          <li><a href="/components/input/input.html">Input</a></li>
          <li><a href="/components/toast/toast.html">Toast</a></li>
          <li><a href="/components/grid/grid.html">Grids</a></li>
          <li><a href="/components/navbar/navbar.html">Navbar</a></li>
          <li><a href="/components/typography/typo.html">Typography</a></li>
          <li><a href="/components/Lists/list.html">Lists</a></li>
          <li><a href="/components/Modal/modal.html">Modal</a></li>
          <li><a href="/components/Rating/rating.html">Rating</a></li>
          
        </ul>
      </div>
    </div>
    <!-- navigation bar ends here -->
    <div class="section">
      <div class="container">
        <div class="content-section">
          <div class="title">
            <h1>Image</h1>
          </div>
          <div class="content">
            <h4>
              An image component encapsulates performance best practices and
              provides an out-of-the-box solution to optimize images
            </h4>
            <h3>Rounded Images</h3>
          </div>
        </div>
          <div class="code-container">
            <img
              class="img-round"
              src="https://picsum.photos/349/349/?"
              alt="round-img"
            />
            <img
              class="img-round"
              src="https://picsum.photos/351/351/?"
              alt="round-img"
            />
          </div>
          <div class="component-display">
          <pre class="code-snippet">
            <code class="language-html"> &#x3C;img
              class=&#x22;img-round&#x22;
              src=&#x22;https://picsum.photos/349/349/?&#x22;
              alt=&#x22;round-img&#x22;
            /&#x3E;
            &#x3C;img
              class=&#x22;img-round&#x22;
              src=&#x22;https://picsum.photos/351/351/?&#x22;
              alt=&#x22;round-img&#x22;
            /&#x3E;</code>
          </pre>
        </div>

          <div class="content-section">
              <div class="content">  
              <h3>Responsive Image</h3>
            </div>
           
              <img
                class="img-full-wdth"
                src="https://picsum.photos/256/128/"
                alt="full-img"
              />            
            <div>

            <div class="component-display">
              <pre class="code-snippet">
                <code class="language-html">&#x3C;img
                    class=&#x22;img-full-wdth&#x22;
                    src=&#x22;https://picsum.photos/256/128/&#x22;
                    alt=&#x22;full-img&#x22;
                  /&#x3E;</code> 
              </pre>
             </div>
         </div>           
      <div>
  </div>
  
  </body>
  <script src="/prism.js"></script>

</html>
