<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="typography.css" />
    <title>Typography</title>
  </head>
  <body>
    <div class="wrapper">
      <!-- NavBar starts here  -->
      <nav id="navbar">
        <h1 class="logo">
          <span class="text-primary">
            <i class="fa-brands fa-uikit"></i>
            CRIPSY </span
          >UI
        </h1>
        <ul>
          <li><a href="/components/alert/alert.html">DOCS</a></li>
          <li><a href="https://github.com/kr-sarvesh/Cripsy_UI">GITHUB</a></li>
        </ul>
      </nav>
      <!-- bottom sidebar starts here -->
      <div class="bottom-nav">
        <ul>
          <li><a href="/components/alert/alert.html">Alert</a></li>
          <li><a href="/components/avatar/avatar.html">Avatar</a></li>
          <li><a href="/components/badges/badges.html">Badges</a></li>
          <li><a href="/components/buttons/buttons.html">Buttons</a></li>
          <li><a href="/components/cards/cards.html">Card</a></li>
          <li><a href="/components/images/images.html">Images</a></li>
          <li><a href="/components/input/input.html">Input</a></li>
          <li><a href="/components/toast/toast.html">Toast</a></li>
          <li><a href="/components/grid/grid.html">Grids</a></li>
          <li><a href="/components/navbar/navbar.html">Navbar</a></li>
          <li><a href="/components/typography/typo.html">Typography</a></li>
          <li><a href="/components/Lists/list.html">Lists</a></li>
          <li><a href="/components/Modal/modal.html">Modal</a></li>
          <li><a href="/components/Rating/rating.html">Rating</a></li>
         
          
        </ul>
      </div>
      <div class="section">
        <div class="container">
        <h3 id="typo-txt">Text ultilities or typography is used to ease the process of styling the Headings as well as Text</h1>
        <div class="typo-container">
          <h1 class="h1">This is an h1 heading.</h1>
          <h2 class="h2">This is an h2 heading.</h2>
          <h3 class="h3">This is an h3 heading.</h3>
          <h4 class="h4">This is an h4 heading.</h4>
          <h5 class="h5">This is an h5 heading.</h5>
          <h6 class="h6">This is an h6 heading.</h6>
        </div>
        </div>
        <div class="component-display">
          <pre class="snippet">
          <code class="language-html">
            &#x3C;div class=&#x22;typo-container&#x22;&#x3E;
              &#x3C;h1 class=&#x22;h1&#x22;&#x3E;This is an h1 heading.&#x3C;/h1&#x3E;
              &#x3C;h2 class=&#x22;h2&#x22;&#x3E;This is an h2 heading.&#x3C;/h2&#x3E;
              &#x3C;h3 class=&#x22;h3&#x22;&#x3E;This is an h3 heading.&#x3C;/h3&#x3E;
              &#x3C;h4 class=&#x22;h4&#x22;&#x3E;This is an h4 heading.&#x3C;/h4&#x3E;
              &#x3C;h5 class=&#x22;h5&#x22;&#x3E;This is an h5 heading.&#x3C;/h5&#x3E;
              &#x3C;h6 class=&#x22;h6&#x22;&#x3E;This is an h6 heading.&#x3C;/h6&#x3E;
            &#x3C;/div&#x3E;</code>
         </pre>
                
         </div>
          <div class="container sm-container">
            <h3>Small Text</h3>
            <h4 >The HTML small-txt class makes text one font size smaller in the HTML document. This tag is also commonly referred to as the element.</h4>
          </div>
          <div class="container">
         <div class="typo-container">
           <h4 class="small-txt">
             This is Small text.
           </h4>
        </div>
        <div class="component-display">
          <pre class="snippet">
          <code class="language-html">&#x3C;div class=&#x22;typo-container&#x22;&#x3E;
            &#x3C;h4 class=&#x22;small-txt&#x22;&#x3E;
              This is Small text.
            &#x3C;/h4&#x3E;
         &#x3C;/div&#x3E;</code>
         </pre>
         </div>
         
      </div>
      <div class="container sm-container">
        <h3>Gray Text</h3>
        <h4 >For Gray Text you can just add the class name gray-txt to any element and have that feature. </h4>
        <div class="typo-container">
        <div class="gray-txt">
          <h3>This is a gray h3 heading</h3>
          <p>This is gray pragraph, Lorem ipsum dolor sit amet, consectetur adipisicing elit. A.</p>
        </div>
        </div>
        <div class="container">
        <div class="component-display">
          <pre class="snippet">
          <code class="language-html">&#x3C;div class=&#x22;gray-txt&#x22;&#x3E;
            &#x3C;h3&#x3E;This is a gray h3 heading&#x3C;/h3&#x3E;
            &#x3C;p&#x3E;This is gray pragraph, Lorem ipsum dolor sit amet, consectetur adipisicing elit. A.&#x3C;/p&#x3E;
          &#x3C;/div&#x3E;</code>
         </pre>
         </div>
        </div>
      </div>
      <div class="container sm-container">
        <h3>Center Text</h3>
        <h4 >For Center Text you can just add the class name center-txt to any element and have that feature. </h4>
        <div class="typo-container">
        <div class="center-txt">
          <h3>This is a Center h3 heading</h3>
          <p>This is center pragraph, Lorem ipsum dolor sit amet, consectetur adipisicing elit. A pa.</p>
        </div>
        </div>
        <div class="container">
        <div class="component-display">
          <pre class="snippet">
          <code class="language-html">&#x3C;div class=&#x22;center-txt&#x22;&#x3E;
            &#x3C;h3&#x3E;This is a Center h3 heading&#x3C;/h3&#x3E;
            &#x3C;p&#x3E;This is center pragraph, Lorem ipsum dolor sit amet, consectetur adipisicing elit. A.&#x3C;/p&#x3E;
          &#x3C;/div&#x3E;</code>
         </pre>
         </div>
        </div>
      </div>
      

  </body>
  <script src="/prism.js"></script>
  
</html>
