<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="badges.css" />
    <title>Badges component</title>
  </head>
  <body>
    <div class="wrapper">
      <!-- NavBar starts here  -->
      <nav id="navbar">
        <h1 class="logo">
          <span class= "text-primary">
            <i class="fa-brands fa-uikit"></i>
            CRIPSY </span 
          >UI
        </h1>
        <ul>
          <li><a href="#">DOCS</a></li>
          <li><a href="#">GITHUB</a></li>
        </ul>
      </nav>
      <!-- bottom sidebar starts here -->
      <div class="bottom-nav">
        <ul>
          <li><a href="#">Alert</a></li>
          <li><a href="#">Avatar</a></li>
          <li><a href="#">Badges</a></li>
          <li><a href="#">Buttons</a></li>
          <li><a href="#">Card</a></li>
          <li><a href="#">Images</a></li>
          <li><a href="#">Input</a></li>
          <li><a href="#">Toast</a></li>
          <li><a href="#">Typography</a></li>
          <li><a href="#">Navbar</a></li>
        </ul>
      </div>
    </div>
    <!--------------------------- wrapper class ends here ------------------------------------------------------>
    <div class="section">
      <div class="container">
        <div class="content-section">
          <div class="title">
            <h1>Badges</h1>
          </div>
          <div class="content">
            <h3>
              A badge is a visual indicator for numeric values such as tallies and scores            </h3>
          </div>
        </div>
        <div class="display">
          <div class="profile-nm">
            <h2>Badges on Avatar</h2>
            <strong>Different Badges on Avatar </strong>
          </div>
          <div class="badge-container">
            <div class="badge">
              <img
                class="avatar avatar-cicular sm"
                src="https://i.pravatar.cc/60"
                alt="avatar-circular-1"
              />
              <div class="status-badge online"></div>
            </div>
            <div class="badge">
              <img
                class="avatar avatar-cicular md"
                src="https://i.pravatar.cc/100"
                alt="avatar-circular-2"
              />
              <div class="status-badge away"></div>
            </div>
            <div class="badge">
              <img
                class="avatar avatar-cicular lg"
                src="https://i.pravatar.cc/150"
                alt="avatar-circular-3"
              />
              <div class="status-badge dnd"></div>
            </div>
          </div>
          <div class="code-container">
          <pre class="code-snippet">
            <code class="language-html">&#x3C;div class=&#x22;badge&#x22;&#x3E;
              &#x3C;img
                class=&#x22;avatar avatar-cicular sm&#x22;
                src=&#x22;https://i.pravatar.cc/60&#x22;
                alt=&#x22;avatar-circular-1&#x22;
              /&#x3E;

            &#x3C;div class=&#x22;status-badge online&#x22;&#x3E;&#x3C;/div&#x3E;
            &#x3C;/div&#x3E;
            &#x3C;div class=&#x22;badge&#x22;&#x3E;
              &#x3C;img
                class=&#x22;avatar avatar-cicular md&#x22;
                src=&#x22;https://i.pravatar.cc/100&#x22;
                alt=&#x22;avatar-circular-2&#x22;
              /&#x3E;
              &#x3C;div class=&#x22;status-badge away&#x22;&#x3E;&#x3C;/div&#x3E;
            &#x3C;/div&#x3E;
            &#x3C;div class=&#x22;badge&#x22;&#x3E;
              &#x3C;img
                class=&#x22;avatar avatar-cicular lg&#x22;
                src=&#x22;https://i.pravatar.cc/150&#x22;
                alt=&#x22;avatar-circular-3&#x22;
              /&#x3E;
              &#x3C;div class=&#x22;status-badge dnd&#x22;&#x3E;&#x3C;/div&#x3E;
            &#x3C;/div&#x3E;</code>
          </pre>
        </div>
          <div class="display">
            <div class="profile-nm">
              <h2>Badges on icons</h2>
              <strong>Different Badges on icons such as shopping cart
                 </strong>
            </div>
        </div>
        <div class="badge-container">
          <div class="badge">
            <img
              class="avatar avatar-square sm"
              src="/images/cart.svg"
              alt="avatar-square-1"
            />
            <div class="number-badge">10</div>
          </div>
          <div class="badge">
            <img
              class="avatar avatar-square md"
              src="/images/cart.svg"
              alt="avatar-square-2"
            />
            <div class="number-badge">12</div>
          </div>
          <div class="badge">
            <img
              class="avatar avatar-square lg"
              src="/images/cart.svg"
              alt="avatar-square-2"
            />
            <div class="number-badge">15</div>
          </div>
        </div>
        <div>
        </div>
          </div>
          <div class="code-container">
            <pre class="code-snippet">
              <code class="language-html">&#x3C;div class=&#x22;badge-container&#x22;&#x3E;
                &#x3C;div class=&#x22;badge&#x22;&#x3E;
                  &#x3C;img
                    class=&#x22;avatar avatar-square sm&#x22;
                    src=&#x22;/images/cart.svg&#x22;
                    alt=&#x22;avatar-square-1&#x22;
                  /&#x3E;
                  &#x3C;div class=&#x22;number-badge&#x22;&#x3E;10&#x3C;/div&#x3E;
                &#x3C;/div&#x3E;
                &#x3C;div class=&#x22;badge&#x22;&#x3E;
                  &#x3C;img
                    class=&#x22;avatar avatar-square md&#x22;
                    src=&#x22;/images/cart.svg&#x22;
                    alt=&#x22;avatar-square-2&#x22;
                  /&#x3E;
                  &#x3C;div class=&#x22;number-badge&#x22;&#x3E;12&#x3C;/div&#x3E;
                &#x3C;/div&#x3E;
                &#x3C;div class=&#x22;badge&#x22;&#x3E;
                  &#x3C;img
                    class=&#x22;avatar avatar-square lg&#x22;
                    src=&#x22;/images/cart.svg&#x22;
                    alt=&#x22;avatar-square-2&#x22;
                  /&#x3E;
                  &#x3C;div class=&#x22;number-badge&#x22;&#x3E;15&#x3C;/div&#x3E;
                &#x3C;/div&#x3E;</code>
            </pre>
          </div>
           </div>
           
         </div> 
          
    </div>  
    
  </body>
  <script src="/prism.js"></script>
</html>
