@import url(/css/style.css);
@import url(/components/avatar/avatar.css);
@import url(/components/alert/alert.css);

.badge-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 1rem;
}
.badge {
  position: relative;
  width: max-content;
  padding: 0.1rem;
  margin: 0 0.5rem;
  background: var(--offwhite-color);
  border-radius: 50%;
}

.badge .status-badge {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  border: 3px solid transparent;
}

.badge .online {
  background-color: var(--success-color);
}

.badge .away {
  background-color: var(--warning-color);
}

.badge .dnd {
  background-color: var(--danger-color);
}
.code-container {
  margin-bottom: 2rem;
}
.profile-nm {
  margin-bottom: 1rem;
}

.badge .number-badge {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-size: 1rem;
  top: 0px;
  right: -8px;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  border: 2px solid transparent;
  color: var(--offwhite-color);
  background-color: var(--secondary-color);
}
