@import url(/components/avatar/avatar.css);

.badge-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 1rem;
}
.badge {
  position: relative;
  width: max-content;
  padding: 0.2rem;
  margin: 0 0.5rem;
}

.badge .status-badge {
  position: absolute;
  bottom: 1.2rem;
  right: 0.1rem;
  left: 0.8rem;
  height: 0.8rem;
  width: 0.8rem;
  border-radius: 50%;
  border: 2px solid transparent;
}

.badge .online {
  background-color: var(--success-color);
}

.badge .away {
  background-color: var(--warning-color);
}

.badge .dnd {
  background-color: var(--danger-color);
}
.code-container {
  margin-bottom: 2rem;
}
.profile-nm {
  margin-bottom: 1rem;
}

.badge .number-badge {
  position: absolute;
  font-size: 0.7rem;
  font-weight: bold;
  top: -8px;
  right: 0.4rem;
  height: 0.5px;
  width: 20px;
  border-radius: 50%;
  border: 15px solid transparent;
  color: var(--offwhite-color);
  background-color: var(--secondary-color);
}
