<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="grid.css" />
    <title>Grid | component</title>
  </head>
  <body>
    <div class="wrapper">
      <!-- NavBar starts here  -->
      <nav id="navbar">
        <h1 class="logo">
          <span class="text-primary">
            <i class="fa-brands fa-uikit"></i>
            CRIPSY </span
          >UI
        </h1>
        <ul>
          <li><a href="/components/alert/alert.html">DOCS</a></li>
          <li><a href="https://github.com/kr-sarvesh/Cripsy_UI">GITHUB</a></li>
        </ul>
      </nav>
      <!-- bottom sidebar starts here -->
      <div class="bottom-nav">
        <ul>
          <li><a href="/components/alert/alert.html">Alert</a></li>
          <li><a href="/components/avatar/avatar.html">Avatar</a></li>
          <li><a href="/components/badges/badges.html">Badges</a></li>
          <li><a href="/components/buttons/buttons.html">Buttons</a></li>
          <li><a href="/components/cards/cards.html">Card</a></li>
          <li><a href="/components/images/images.html">Images</a></li>
          <li><a href="/components/input/input.html">Input</a></li>
          <li><a href="/components/toast/toast.html">Toast</a></li>
          <li><a href="/components/grid/grid.html">Grids</a></li>
          <li><a href="/components/navbar/navbar.html">Navbar</a></li>
          <li><a href="/components/typography/typo.html">Typography</a></li>
          <li><a href="/components/Lists/list.html">Lists</a></li>
          <li><a href="/components/Modal/modal.html">Modal</a></li>
          <li><a href="/components/Rating/rating.html">Rating</a></li>
          
        </ul>
      </div>
      <div class="section">
        <div class="container">
          <div class="content-section">
            <div class="title">
              <h1>Grids</h1>
            </div>
            <div class="content">
              <h3>
                The grid CSS property is a shorthand property that sets all of the explicit and implicit grid properties in a single declaration.
              </h3>
            </div>
                <h2>Single Column Grid</h1>
            </div>
            <div class="grid">
              <div class="grid-container col-1">
                <div class="primarybg">Single Column Grid</div>
              </div>
        </div>
        <div class="component-display">
        <pre class="snippet">
          <code class="language-html">&#x3C;div class=&#x22;grid&#x22;&#x3E;
              &#x3C;div class=&#x22;grid-container col-1&#x22;&#x3E;
              &#x3C;div class=&#x22;primarybg&#x22;&#x3E;Single Column Grid&#x3C;/div&#x3E;
          &#x3C;/div&#x3E;</code></div>
        </pre>
            <h2>Two Columns Grid</h2>
            <div class="grid">
            <div class="grid-container col-2">
              <div class="primarybg">Two Columns Grid</div>
              <div class="secondarybg">Two Columns Grid</div>
            </div> 
            <div class="component-display">
              <pre class="snippet">
                <code class="language-html">&#x3C;div class=&#x22;grid&#x22;&#x3E;
                &#x3C;div class=&#x22;grid-container col-2&#x22;&#x3E;
                &#x3C;div class=&#x22;primarybg&#x22;&#x3E;Two Columns Grid&#x3C;/div&#x3E;
                &#x3C;div class=&#x22;secondarybg&#x22;&#x3E;Two Columns Grid&#x3C;/div&#x3E;
                &#x3C;/div&#x3E;</code></div>
              </pre>
           </div>
           <h2>Three Columns Grid</h2>

           <div class="grid-container col-3">
            <div class="primarybg">Three Columns Grid</div>
            <div class="secondarybg">Three Columns Grid</div>
            <div class="warningbg">Three Columns Grid</div>
          </div>
          <div class="component-display">
            <pre class="snippet">
              <code class="language-html">&#x3C;div class=&#x22;grid&#x22;&#x3E;
              &#x3C;div class=&#x22;grid-container col-2&#x22;&#x3E;
              &#x3C;div class=&#x22;primarybg&#x22;&#x3E;Two Columns Grid&#x3C;/div&#x3E;
              &#x3C;div class=&#x22;secondarybg&#x22;&#x3E;Two Columns Grid&#x3C;/div&#x3E;
              &#x3C;/div&#x3E;</code></pre>
         </div>
          </div>                      
      </div>
      
  </body>
  <script src="/prism.js"></script>
  <script src="https://kit.fontawesome.com/764306e1be.js" crossorigin="anonymous"></script>
</html>
