<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="input.css" />
    <title>Input |Component</title>
  </head>
  <body>
    <div class="wrapper">
      <!-- NavBar starts here  -->
      <nav id="navbar">
        <h1 class="logo">
          <span class="text-primary">
            <i class="fa-brands fa-uikit"></i>
            CRIPSY </span
          >UI
        </h1>
        <ul>
          <li><a href="/index.html">DOCS</a></li>
          <li><a href="https://github.com/kr-sarvesh/Cripsy_UI">GITHUB</a></li>
        </ul>
      </nav>
      <!-- bottom sidebar starts here -->
      <div class="bottom-nav">
        <ul>
          <li><a href="/components/alert/alert.html">Alert</a></li>
          <li><a href="/components/avatar/avatar.html">Avatar</a></li>
          <li><a href="/components/badges/badges.html">Badges</a></li>
          <li><a href="/components/buttons/buttons.html">Buttons</a></li>
          <li><a href="#">Card</a></li>
          <li><a href="#">Images</a></li>
          <li><a href="/components/input/input.html">Input</a></li>
          <li><a href="#">Toast</a></li>
          <li><a href="/components/grid/grid.html">Grids</a></li>
          <li><a href="/components/navbar/navbar.html">Navbar</a></li>
        </ul>
      </div>
      <div class="section">
        <div class="container component">
          <div class="content-section">
            <div class="title">
              <h1>Input</h1>
            </div>
            <div class="content-section">
              <h3>Input with label and help text 
                and Input with validation error             
              </h3>
              
          </div>
          <div class="code-container">
            <div class="input-group">
              <label>Username *</label>
              <input
                type="text"
                class="input"
              />
            </div>
            <div class="input-group error">
              <label>Password *</label>
              <input
                type="text"
                class="input"
              />
              <span class="errortxt">Password is incorrect</span>
            </div>
          </div>
     </div>

    </div>
  </body>
</html>
