<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="input.css" />
    <title>Input |Component</title>
  </head>
  <body>
    <div class="wrapper">
      <!-- NavBar starts here  -->
      <nav id="navbar">
        <h1 class="logo">
          <span class="text-primary">
            <i class="fa-brands fa-uikit"></i>
            CRIPSY </span
          >UI
        </h1>
        <ul>
          <li><a href="/index.html">DOCS</a></li>
          <li><a href="https://github.com/kr-sarvesh/Cripsy_UI">GITHUB</a></li>
        </ul>
      </nav>
      <!-- bottom sidebar starts here -->
      <div class="bottom-nav">
        <ul>
          <li><a href="/components/alert/alert.html">Alert</a></li>
          <li><a href="/components/avatar/avatar.html">Avatar</a></li>
          <li><a href="/components/badges/badges.html">Badges</a></li>
          <li><a href="/components/buttons/buttons.html">Buttons</a></li>
          <li><a href="/components/cards/cards.html">Card</a></li>
          <li><a href="/components/images/images.html">Images</a></li>
          <li><a href="/components/input/input.html">Input</a></li>
          <li><a href="/components/toast/toast.html">Toast</a></li>
          <li><a href="/components/grid/grid.html">Grids</a></li>
          <li><a href="/components/navbar/navbar.html">Navbar</a></li>
        </ul>
      </div>
      <div class="section">
        <div class="container component">
          <div class="content-section">
            <div class="title">
              <h1>Input</h1>
            </div>
            <div class="content-section">
              <h3>Input with label and help text 
                and Input with validation error             
              </h3>
              
          </div>
          <div class="code-container">
            <div class="input-group">
              <label>Username *</label>
              <input
                type="text"
                class="input"
              />
            </div>
            <div class="input-group error">
              <label>Password *</label>
              <input
                type="password"
                class="input"
              />
              <span class="errortxt">Password is wrong</span>
            </div>
          </div>
          <div class="component-display">
            <pre class="code-snippet">
              <code class="language-html">&#x3C;div class=&#x22;code-container&#x22;&#x3E;
            &#x3C;div class=&#x22;input-group&#x22;&#x3E;
              &#x3C;label&#x3E;Username *&#x3C;/label&#x3E;
              &#x3C;input
                type=&#x22;text&#x22;
                class=&#x22;input&#x22;
              /&#x3E;
            &#x3C;/div&#x3E;
            &#x3C;div class=&#x22;input-group error&#x22;&#x3E;
              &#x3C;label&#x3E;Password *&#x3C;/label&#x3E;
              &#x3C;input
                type=&#x22;password&#x22;
                class=&#x22;input&#x22;
              /&#x3E;
              &#x3C;span class=&#x22;errortxt&#x22;&#x3E;Password is wrong&#x3C;/span&#x3E;
            &#x3C;/div&#x3E;
          &#x3C;/div&#x3E;</code>
            </pre>
          </div>
     </div>

    </div>
  </body>
  <script src="/prism.js"></script>

</html>
