@import url(/prism.css);
@import url(/components/alert/alert.css);
@import url(/css/style.css);
body {
  background-image: none;
}
.btn {
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  padding: 1rem 2rem;
  text-transform: uppercase;
  text-align: center;
  margin: 1rem 1rem;
  align-items: center;
}
.btn-primary {
  background-color: var(--primary-color);
}

.btn-primary:hover {
  background-color: var(--secondary-color);
}

.btn.btn-secondary {
  background-color: var(--secondary-color);
}

.btn-secondary:hover {
  background-color: var(--primary-color);
}
.btn.btn-danger {
  background-color: var(--danger-color);
}
.btn-danger:hover {
  background-color: #ff6263;
}
.btn.btn-success {
  background-color: var(--success-color);
}
.btn-success:hover {
  background-color: #6ec72d;
}
.btn.btn-warning {
  background-color: var(--warning-color);
}
.btn-warning:hover {
  background-color: #bf3312;
}
.btn.btn-link {
  background-color: #fff;
  color: var(--primary-color);
}
.btn-link:hover {
  color: var(--secondary-color);
}

/* outline css  */

.outlineBtn {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-weight: 900;
}

.btn-primary-outline {
  color: var(--primary-color);
  background-color: var(--offwhite-color);
  border: 1px solid var(--primary-color);
}
.btn-primary-outline:hover {
  background-color: var(--primary-color);
  color: var(--offwhite-color);
}

.btn-secondary-outline {
  color: var(--secondary-color);
  background-color: var(--offwhite-color);

  border: 1px solid var(--primary-color);
}
.btn-secondary-outline:hover {
  background-color: var(--secondary-color);
  color: var(--offwhite-color);
}
.btn-danger-outline {
  color: var(--danger-color);
  background-color: var(--offwhite-color);

  border: 1px solid var(--danger-color);
}
.btn-danger-outline:hover {
  background-color: var(--danger-color);
  color: var(--offwhite-color);
}
.btn-success-outline {
  color: var(--success-color);
  background-color: var(--offwhite-color);
  border: 1px solid var(--success-color);
}
.btn-success-outline:hover {
  background-color: var(--success-color);
  color: var(--offwhite-color);
}
.btn-warning-outline {
  color: var(--warning-color);
  background-color: var(--offwhite-color);
  border: 1px solid var(--warning-color);
}
.btn-warning-outline:hover {
  background-color: var(--warning-color);
  color: var(--offwhite-color);
}
.btn-link-outline {
  color: var(--primary-color);
  background-color: var(--offwhite-color);
  border: 1px solid var(--active-color);
}
.btn-link-outline:hover {
  background-color: var(--primary-color);
  color: var(--offwhite-color);
}

.btn-compo {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.component-display {
  background-color: var(--offwhite-color);
  border-radius: 1rem;
}
