<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="buttons.css" />
    <title>Button component</title>
  </head>
  <body>
    <div class="wrapper">
      <!-- NavBar starts here  -->
      <nav id="navbar">
        <h1 class="logo">
          <span class="text-primary">
            <i class="fa-brands fa-uikit"></i>
            CRIPSY </span
          >UI
        </h1>
        <ul>
          <li><a href="/components/alert/alert.html">DOCS</a></li>
          <li><a href="https://github.com/kr-sarvesh/Cripsy_UI">GITHUB</a></li>
        </ul>
      </nav>
      <!-- bottom sidebar starts here -->
      <div class="bottom-nav">
        <ul>
          <li><a href="/components/alert/alert.html">Alert</a></li>
          <li><a href="/components/avatar/avatar.html">Avatar</a></li>
          <li><a href="/components/badges/badges.html">Badges</a></li>
          <li><a href="/components/buttons/buttons.html">Buttons</a></li>
          <li><a href="#">Card</a></li>
          <li><a href="#">Images</a></li>
          <li><a href="#">Input</a></li>
          <li><a href="#">Toast</a></li>
          <li><a href="#">Grids</a></li>
          <li><a href="#">Navbar</a></li>
        </ul>
      </div>
      <!-- bottm sidebar ends here -->
    </div>
    <!-- component showcase starts here -->

    <div class="section">
      <div class="container">
        <div class="content-section">
          <div class="title">
            <h1>Buttons</h1>
          </div>
          <div class="content">
            <h3>
              Use Primary style button for actions in forms, actions and many
              more
            </h3>
          </div>
          <div class="component-display">
            <button class="btn btn-primary">Primary</button>

            <button class="btn btn-secondary">Secondary</button>

            <button class="btn btn-danger">Danger</button>

            <button class="btn btn-success">Success</button>

            <button class="btn btn-warning">Warning</button>

            <button class="btn btn-link">link</button>
          </div>
          <pre class="snippet">
            <code class="language-html">
              &#x3C;button class=&#x22;btn btn-primary&#x22;&#x3E;Primary&#x3C;/button&#x3E;

              &#x3C;button class=&#x22;btn btn-secondary&#x22;&#x3E;Secondary&#x3C;/button&#x3E;
  
              &#x3C;button class=&#x22;btn btn-danger&#x22;&#x3E;Danger&#x3C;/button&#x3E;
  
              &#x3C;button class=&#x22;btn btn-success&#x22;&#x3E;Success&#x3C;/button&#x3E;
  
              &#x3C;button class=&#x22;btn btn-warning&#x22;&#x3E;Warning&#x3C;/button&#x3E;
  
              &#x3C;button class=&#x22;btn btn-link&#x22;&#x3E;link&#x3C;/button&#x3E;</code>
          </pre>
        </div>
        <div class="outlineBtn">
          <h3>
            Use Outline style button for actions in forms, actions and many more
          </h3>
        </div>
        <div class="component-display">
          <button class="btn btn-primary-outline">Primary</button>

          <button class="btn btn-secondary-outline">Secondary</button>

          <button class="btn btn-danger-outline">Danger</button>

          <button class="btn btn-success-outline">Success</button>

          <button class="btn btn-warning-outline">Warning</button>

          <button class="btn btn-link-outline">link</button>
        </div>
        <pre class="snippet">
        <code class="language-html">
          &#x3C;button class=&#x22;btn btn-primary-outline&#x22;&#x3E;Primary&#x3C;/button&#x3E;
                        
           &#x3C;button class=&#x22;btn btn-secondary-outline&#x22;&#x3E;Secondary&#x3C;/button&#x3E;
                        
           &#x3C;button class=&#x22;btn btn-danger-outline&#x22;&#x3E;Danger&#x3C;/button&#x3E;
                        
           &#x3C;button class=&#x22;btn btn-success-outline&#x22;&#x3E;Success&#x3C;/button&#x3E;
                        
           &#x3C;button class=&#x22;btn btn-warning-outline&#x22;&#x3E;Warning&#x3C;/button&#x3E;
                        
           &#x3C;button class=&#x22;btn btn-link-outline&#x22;&#x3E;link&#x3C;/button&#x3E;</code>
      </pre>
        <div class="outlineBtn">
          <h3>
            Buttons with Icons<span class="icon">
              Identifies buttons action more quickly</span
            >
          </h3>
        </div>
        <div class="component-display">
        <button class="btn btn-primary-outline"><ion-icon name="save-outline"></ion-icon> Save Now</button>
        <button class="btn btn-primary"> <ion-icon name="save"></ion-icon> Save Now</button>
          
      </div>
      <pre class="snippet">
        <code class="language-html">
          &#x3C;button class=&#x22;btn btn-primary-outline&#x22;&#x3E;&#x3C;ion-icon name=&#x22;save-outline&#x22;&#x3E;&#x3C;/ion-icon&#x3E; Save Now&#x3C;/button&#x3E;
          &#x3C;button class=&#x22;btn btn-primary&#x22;&#x3E; &#x3C;ion-icon name=&#x22;save&#x22;&#x3E;&#x3C;/ion-icon&#x3E; save now&#x3C;/button&#x3E;</code>
      </pre>
    </div>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
   <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
   </body>
  
  <script src="/prism.js"></script>
</html>
