<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="avatar.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="wrapper">
      <!-- NavBar starts here  -->
      <nav id="navbar">
        <h1 class="logo">
          <span class="text-primary">
            <i class="fa-brands fa-uikit"></i>
            CRIPSY </span
          >UI
        </h1>
        <ul>
          <li><a href="#">DOCS</a></li>
          <li><a href="#">GITHUB</a></li>
        </ul>
      </nav>
      <!-- bottom sidebar starts here -->
      <div class="bottom-nav">
        <ul>
          <li><a href="#">Alert</a></li>
          <li><a href="#">Avatar</a></li>
          <li><a href="#">Badges</a></li>
          <li><a href="#">Buttons</a></li>
          <li><a href="#">Card</a></li>
          <li><a href="#">Images</a></li>
          <li><a href="#">Input</a></li>
          <li><a href="#">Toast</a></li>
          <li><a href="#">Typography</a></li>
          <li><a href="#">Modal</a></li>
        </ul>
      </div>
    </div>
    <!--------------------------- wrapper class ends here ------------------------------------------------------>
    <div class="section">
      <div class="container">
        <div class="content-section">
          <div class="title">
            <h1>Avatar</h1>
          </div>
          <div class="content">
            <h3>
              An avatar is a visual representation of a user or entity.
            </h3>
          </div>
        </div>
        <div class="display">
          <div class="profile-nm">
            <h2>Circular Profile Avatar! ;</h2>
            <strong>Circular Profile avatar could be created using avatar class, inside img tag. </strong>
          </div>
            <div class="component-display">
              
              <img
                class="avatar avatar-cicular sm"
                src="https://i.pravatar.cc/60"
                alt="avatar-circular-sm"
              />
              <img
                class="avatar avatar-cicular md"
                src="https://i.pravatar.cc/100"
                alt="avatar-circular-md"
              />
              <img
                class="avatar avatar-cicular lg"
                src="https://i.pravatar.cc/150"
                alt="avatar-circular-lg"
              />
              <pre class="code-snippet">
                <code class="language-html">&#x3C;img
                  class=&#x22;avatar avatar-cicular sm&#x22;
                  src=&#x22;https://i.pravatar.cc/60&#x22;
                  alt=&#x22;avatar-circular-1&#x22;
                /&#x3E;
                &#x3C;img
                  class=&#x22;avatar avatar-cicular md&#x22;
                  src=&#x22;https://i.pravatar.cc/100&#x22;
                  alt=&#x22;avatar-circular-2&#x22;
                /&#x3E;
                &#x3C;img
                  class=&#x22;avatar avatar-cicular lg&#x22;
                  src=&#x22;https://i.pravatar.cc/150&#x22;
                  alt=&#x22;avatar-circular-3&#x22;
                /&#x3E;</code>
              </pre>
        </div>
      <!-- square Avatar  ---------------------------->

      <div class="profile-nm">
        <h2>Square Profile Avatar! &nbsp;</h2>
        <strong>Square Profile avatar could be created using avatar class, inside img tag. </strong>
      </div>
        <div class="component-display">
          
          <img class="avatar avatar-square sm" src="https://i.pravatar.cc/40" alt="avatar-sm"/>
          <img class="avatar avatar-square md" src="https://i.pravatar.cc/40" alt="avatar-md"/>
          <img class="avatar avatar-square lg" src="https://i.pravatar.cc/40" alt="avatar-lg"/>   
          <pre class="code-snippet">
            <code class="language-html">  &#x3C;img
             class=&#x22;avatar avatar-square sm&#x22; src=&#x22;https://i.pravatar.cc/40&#x22; alt=&#x22;avatar-1&#x22;
              /&#x3E;
              &#x3C;img 
             class=&#x22;avatar avatar-square md&#x22; src=&#x22;https://i.pravatar.cc/40&#x22; alt=&#x22;avatar-2&#x22;
              /&#x3E;
              &#x3C;img 
             class=&#x22;avatar avatar-square lg&#x22; src=&#x22;https://i.pravatar.cc/40&#x22; alt=&#x22;avatar-3&#x22;
              /&#x3E;</code>
          </pre>
          </div>
          
  </body>
  <script src="/prism.js"></script>
</html>
