@import url(/css/style.css);
@import url(/components/alert/alert.css);
@import url(/prism.css);
@import url(/css/all.min.css);

body {
  background-image: none;
}

.content h3 {
  margin-bottom: 1rem;
}

.display .profile-nm h2 {
  margin-bottom: 1rem;
}

.avatar {
  width: 3rem;
  height: 3rem;
}

.avatar-cicular {
  border-radius: 50%;
  margin: 1rem;
}

.avatar-square {
  border-radius: 0.5rem;
  margin: 1rem;
}

.sm {
  width: 3.4rem;
  height: 3.4rem;
}

.md {
  width: 4.4rem;
  height: 4.4rem;
}

.lg {
  width: 5.4rem;
  height: 5.4rem;
}

.avatar-display {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: var(--offwhite-color);
}
