<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="navbar.css" />
    <title>Navbar | component</title>
  </head>
  <body>
    <div class="wrapper">
      <!-- NavBar starts here  -->
      <nav id="navbar">
        <h1 class="logo">
          <span class="text-primary">
            <i class="fa-brands fa-uikit"></i>
            CRIPSY </span
          >UI
        </h1>
        <ul>
          <li><a href="/components/alert/alert.html">DOCS</a></li>
          <li><a href="https://github.com/kr-sarvesh/Cripsy_UI">GITHUB</a></li>
        </ul>
      </nav>
      <!-- bottom sidebar starts here -->
      <div class="bottom-nav">
        <ul>
          <li><a href="/components/alert/alert.html">Alert</a></li>
          <li><a href="/components/avatar/avatar.html">Avatar</a></li>
          <li><a href="/components/badges/badges.html">Badges</a></li>
          <li><a href="/components/buttons/buttons.html">Buttons</a></li>
          <li><a href="/components/cards/cards.html">Card</a></li>
          <li><a href="/components/images/images.html">Images</a></li>
          <li><a href="/components/input/input.html">Input</a></li>
          <li><a href="/components/toast/toast.html">Toast</a></li>
          <li><a href="/components/grid/grid.html">Grids</a></li>
          <li><a href="/components/navbar/">Navbar</a></li>
        </ul>
      </div>
      <!-- bottm sidebar ends here -->
    </div>
    <!-- wrapper class ends here -->
    <!-- ---------------------------------------------------------------------------------------- -->

    <!-- component showcase starts here -->

    <div class="section">
      <div class="container">
        <div class="content-section">
          <div class="title">
            <h1>Navbar</h1>
          </div>
          <div class="content">
            <h3>A navigation bar is a navigation header that is placed at the top of the page:</h3>
        </div>
        <nav id="navbar" >
        <h1 class="logo">
          <span class="text-primary">
            <i class="fa-brands fa-uikit"></i>
            CRIPSY </span
          >UI
        </h1>
        <ul class="nav nav-justified">
          <li><a href="#">Home</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Downloads</a></li>
          <li><a href="#">Projects</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </nav>
      </div>
      <div class="component-display">
      <pre class="snippet">
        <code class="language-html"> &#x3C;nav id=&#x22;navbar&#x22; &#x3E;
          &#x3C;h1 class=&#x22;logo&#x22;&#x3E;
            &#x3C;span class=&#x22;text-primary&#x22;&#x3E;
              &#x3C;i class=&#x22;fa-brands fa-uikit&#x22;&#x3E;&#x3C;/i&#x3E;
              CRIPSY &#x3C;/span
            &#x3E;UI
          &#x3C;/h1&#x3E;
          &#x3C;ul class=&#x22;nav nav-justified&#x22;&#x3E;
            &#x3C;li&#x3E;&#x3C;a href=&#x22;#&#x22;&#x3E;Home&#x3C;/a&#x3E;&#x3C;/li&#x3E;
            &#x3C;li&#x3E;&#x3C;a href=&#x22;#&#x22;&#x3E;Services&#x3C;/a&#x3E;&#x3C;/li&#x3E;
            &#x3C;li&#x3E;&#x3C;a href=&#x22;#&#x22;&#x3E;Downloads&#x3C;/a&#x3E;&#x3C;/li&#x3E;
            &#x3C;li&#x3E;&#x3C;a href=&#x22;#&#x22;&#x3E;Projects&#x3C;/a&#x3E;&#x3C;/li&#x3E;
            &#x3C;li&#x3E;&#x3C;a href=&#x22;#&#x22;&#x3E;About&#x3C;/a&#x3E;&#x3C;/li&#x3E;
            &#x3C;li&#x3E;&#x3C;a href=&#x22;#&#x22;&#x3E;Contact&#x3C;/a&#x3E;&#x3C;/li&#x3E;
          &#x3C;/ul&#x3E;
        &#x3C;/nav&#x3E;</code></pre>
    </div>
  </div>
    
  </body>
  <script src="/prism.js"></script>
  <script src="https://kit.fontawesome.com/764306e1be.js" crossorigin="anonymous"></script>

</html>
