@import url(/css/allStyles.css);
@import url(/components/alert/alert.css);
@import url(/prism.css);

.content {
  margin-bottom: 2rem;
}

.container {
  margin-top: 1rem;
}

.nav-justified > li > a {
  padding: 15px 0;
  text-align: center;
}
