<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/components/toast/toast.css" />
    <title>Toast | Component</title>
  </head>
  <body>
    <div class="wrapper">
      <!-- NavBar starts here  -->
      <nav id="navbar">
        <h1 class="logo">
          <span class="text-primary">
            <i class="fa-brands fa-uikit"></i>
            CRIPSY </span
          >UI
        </h1>
        <ul>
          <li><a href="#">DOCS</a></li>
          <li><a href="#">GITHUB</a></li>
        </ul>
      </nav>
      <!-- bottom sidebar starts here -->
      <div class="bottom-nav">
        <ul>
          <li><a href="#">Alert</a></li>
          <li><a href="#">Avatar</a></li>
          <li><a href="#">Badges</a></li>
          <li><a href="#">Buttons</a></li>
          <li><a href="#">Card</a></li>
          <li><a href="#">Images</a></li>
          <li><a href="#">Input</a></li>
          <li><a href="#">Toast</a></li>
          <li><a href="#">Typography</a></li>
          <li><a href="#">Navbar</a></li>
        </ul>
      </div>
      <!-- bottm sidebar ends here -->
    </div>
    <!-- wrapper class ends here -->
    <!-- -------------------------------------------------------------------------------- -->

    <!-- component showcase starts here -->
    <div class="section">
      <div class="container">
        <div class="content-section">
          <div class="title">
            <h1>Toast</h1>
          </div>
          <div class="content">
            <h3>
              Push notifications to your visitors with a toast, a lightweight
              and easily customizable alert message.
            </h3>
          </div>
        </div>
      </div>
      <div class="toast-container">
        <div class="toast success">
          <p class="toast-text">Successful toast</p>
        </div>
        <div class="toast warning">
          <p class="toast-text">Warning toast</p>
        </div>
        <div class="toast danger">
          <p class="toast-text">danger toast</p>
        </div>
      </div>
      <div class="container">
        <pre class="snippet">
        <code class="language-html">&#x3C;div class=&#x22;toast success&#x22;&#x3E;
          &#x3C;p class=&#x22;toast-text&#x22;&#x3E;Successful toast&#x3C;/p&#x3E;
        &#x3C;/div&#x3E;
        &#x3C;div class=&#x22;toast warning&#x22;&#x3E;
          &#x3C;p class=&#x22;toast-text&#x22;&#x3E;Warning toast&#x3C;/p&#x3E;
        &#x3C;/div&#x3E;
        &#x3C;div class=&#x22;toast danger&#x22;&#x3E;
          &#x3C;p class=&#x22;toast-text&#x22;&#x3E;danger toast&#x3C;/p&#x3E;
        &#x3C;/div&#x3E;</code></pre>
      </div>
    </div>
  </body>
  <script src="/prism.js"></script>
</html>
