<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/components/toast/toast.css" />
    <title>Toast | Component</title>
  </head>
  <body>
    <div class="wrapper">
      <!-- NavBar starts here  -->
      <nav id="navbar">
        <h1 class="logo">
          <span class="text-primary">
            <i class="fa-brands fa-uikit"></i>
            CRIPSY </span
          >UI
        </h1>
        <ul>
          <li><a href="/components/alert/alert.html">DOCS</a></li>
          <li><a href="https://github.com/kr-sarvesh/Cripsy_UI">GITHUB</a></li>
        </ul>
      </nav>
      <!-- bottom sidebar starts here -->
      <div class="bottom-nav">
        <ul>
          <li><a href="/components/alert/alert.html">Alert</a></li>
          <li><a href="/components/avatar/avatar.html">Avatar</a></li>
          <li><a href="/components/badges/badges.html">Badges</a></li>
          <li><a href="/components/buttons/buttons.html">Buttons</a></li>
          <li><a href="/components/cards/cards.html">Card</a></li>
          <li><a href="/components/images/images.html">Images</a></li>
          <li><a href="/components/input/input.html">Input</a></li>
          <li><a href="/components/toast/toast.html">Toast</a></li>
          <li><a href="/components/grid/grid.html">Grids</a></li>
          <li><a href="/components/navbar/">Navbar</a></li>
          <li><a href="/components/typography/typo.html">Typography</a></li>
          <li><a href="/components/Lists/list.html">Lists</a></li>
          <li><a href="/components/Modal/modal.html">Modal</a></li>
          <li><a href="/components/Rating/rating.html">Rating</a></li>
        </ul>
      </div>
      <!-- bottm sidebar ends here -->
    </div>
    <!-- wrapper class ends here -->
    <!-- -------------------------------------------------------------------------------- -->

    <!-- component showcase starts here -->
    <div class="section">
      <div class="container">
        <div class="content-section">
          <div class="title">
            <h1>Toast</h1>
          </div>
          <div class="content">
            <h3>
              Push notifications to your visitors with a toast, a lightweight
              and easily customizable alert message.
            </h3>
          </div>
        </div>
      </div>
      <div class="toast-container">
        <div class="toast success">
          <p class="toast-text">Successful toast</p>
        </div>
        <div class="toast warning">
          <p class="toast-text">Warning toast</p>
        </div>
        <div class="toast danger">
          <p class="toast-text">danger toast</p>
        </div>
      </div>
      <div class="component-display">
        <pre class="snippet">
        <code class="language-html">&#x3C;div class=&#x22;toast success&#x22;&#x3E;
          &#x3C;p class=&#x22;toast-text&#x22;&#x3E;Successful toast&#x3C;/p&#x3E;
        &#x3C;/div&#x3E;
        &#x3C;div class=&#x22;toast warning&#x22;&#x3E;
          &#x3C;p class=&#x22;toast-text&#x22;&#x3E;Warning toast&#x3C;/p&#x3E;
        &#x3C;/div&#x3E;
        &#x3C;div class=&#x22;toast danger&#x22;&#x3E;
          &#x3C;p class=&#x22;toast-text&#x22;&#x3E;danger toast&#x3C;/p&#x3E;
        &#x3C;/div&#x3E;</code></pre>
      </div>
    </div>
  </body>
  <script src="/prism.js"></script>
</html>
