@import url(/css/allStyles.css);
@import url(/components/alert/alert.css);
@import url(/prism.css);
.toast {
  padding: 0.5rem;
  font-size: 1.6rem;
  width: 80%;
  max-width: 15rem;
  border-radius: 5px;
  text-align: center;
  margin: 2rem;
  justify-content: center;
}

.toast.success {
  border: 0.1rem solid var(--success-color);
  color: var(--success-color);
  font-size: larger;
  font-weight: 800;
}

.toast.warning {
  border: 0.1rem solid var(--warning-color);
  color: var(--warning-color);
  font-size: larger;
  font-weight: 800;
}

.toast.danger {
  border: 0.1rem solid var(--danger-color);
  color: var(--danger-color);
  font-size: larger;
  font-weight: 800;
}

.toast-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex: 200px;
}
