@import url(/prism.css);
@import url(/css/style.css);
@import url(/components/avatar/avatar.css);

body {
  background-image: none;
}

.card {
  display: flex;
  gap: 1rem;
  flex-flow: column;
  height: max-content;
  max-width: 30rem;
  border-radius: 5px;
  padding: 1rem;
  margin: 1rem 25rem;
  justify-content: center;
  align-items: center;
  transition: 500ms;
  background-color:var(--offwhite-color);
}


.card-title {
  font-size: 2.3rem;
  font-weight: 500;
}

.card .card-text {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4em;
  width: 350px;
  text-align: center;
  justify-content: center;
}

.card .card-badge {
  background-color: var(--primary-color);
  border: 0.2rem var(--primary-color) solid;
  border-radius: .3rem;
  top: -25rem;
  left: -5rem;
  position: relative;
  display: flex;
  flex-direction: column;
  font-weight: 600;
  font-size: 1.4rem;
  padding: 0.5rem .5rem;
  color: var(--offwhite-color);
  
}

.card-badge-dismiss {
  
  position: absolute;
  transition: 800ms;
  align-items: center;
  font-weight: 600;
  font-size: 1.6rem;
  top: -.1rem;
  color: var(--primary-color);
  
}
.card-badge-dismiss:hover {
  opacity: 1;
  cursor: pointer;
}

.product-image-container {
  position: relative;
}

.card-overlay-text {
  position: absolute;
  transition: 0.5s ease;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--offwhite-color);
  font-size: 2.4rem;
  text-align: center;
}
.button {
  align-items: center;
  justify-content: center;
  color: var(--primary-color);
}

/* horizontal card */

.card-container {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin: 0;
  align-items: center;
  justify-content: center;
}

.card-1 {
  display: flex;
  align-content: center;
  background-color: var(--offwhite-color);
  border-radius: 0.5rem;
}
.card-image-1 img {
  width: 80%;
  min-height: 100%;
  margin: 0 17rem;
  border-top-left-radius: 0.5rem;
  align-items: center;
  justify-content: center;
}
.card-text-1 {
  padding: 0.5rem;
  margin: 0 10rem;
  width: 60%;
}

#shadow{
  box-shadow: 6px 6px 40px 10px var(--offwhite-color);
  transform: translateX(20PX);
}

