@import url(/components/navbar/navbar.css);

@import url(/components/Typography/typography.css);

.star-rating {
  border:solid 1px #ccc;
  display:flex;
  flex-direction: row-reverse;
  font-size:1.5em;
  align-items: center;
  align-content: center;
  justify-content:space-around;
  padding:0 .2em;
  text-align:center;
  width:5em;
  margin-top: 2rem;
}

.star-rating input {
  display:none;
}

.star-rating label {
  color:#ccc;
  cursor:pointer;
}

.star-rating :checked ~ label {
  color:#f90;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
  color:#fc0;
}
