@import url('/css/style.css');

body {
  background-image: none;
}

.wrapper {
  width: 100%;
  min-width: 100vh;
  height: max-content;
  margin: auto;
}

.wrapper .bottom-nav {
  width: 100%;
  height: 45px;
  padding: 0 50px;
}

.wrapper .bottom-nav ul {
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper .bottom-nav ul li a {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 18px;
  color: var(--primary-color);
}

/* section starts here */

.section {
  width: 100%;
  min-height: 100vh;
}
.container {
  width: 80%;
  display: block;
  margin: auto;
  padding-top: 1rem;
}

.content-section .title {
  text-transform: uppercase;
  font-size: 13px;
  line-height: 2;
}

.content-section .content h3 {
  margin-top: 10px;
  font-size: 1.3rem;
  line-height: 1.5;
}

/* alert styles starts here */

.component-display .alert {
  font-size: 1.3rem;
  font-weight: 500;
  width: 50%;
  padding: 1rem;
  display: flex;
  margin: 1rem 7rem;
  text-align: center;
  border-radius: 0.5rem;
  justify-content: center;
  align-items: center;
  color: var(--offwhite-color);
}
.alert-primary {
  background-color: var(--primary-color);
}
.alert-secondary {
  background-color: var(--secondary-color);
}
.alert-success {
  background-color: var(--success-color);
}
.alert-warning {
  background-color: var(--warning-color);
}
.component-display {
  padding: 0.1rem;
  margin: 2rem 3rem;
  border-radius: 0.6rem;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.component-display .snippet {
  margin-top: 3rem;
}

/* media queries starts from here */

@media screen and (max-width: 900px) {
  #navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    align-items: center;
  }
  #navbar .logo {
    display: flex;
    margin-bottom: 0.5rem;
    text-align: center;
    justify-content: center;
  }

  .container {
    width: 80%;
    margin: 1rem;
  }
  .content-section {
    float: none;
    width: 100%;
    margin: auto;
  }
  .content-section .content h3 {
    font-size: 1.5rem;
    padding: 0.5rem;
    text-align: center;
  }
  .content-section .title {
    text-align: center;
    font-size: 1.5rem;
  }
  .component-display .snippet {
    display: none;
  }
  .wrapper .bottom-nav ul {
    display: none;
  }
  .component-display .alert {
    display: flex;
    flex-direction: column;
    top: 6.8rem;
    width: 13.1rem;
  }
}
