<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>alert</title>
    <link rel="stylesheet" href="./style.css" />
    <link rel="stylesheet" href="/prism.css" />
    <link rel="stylesheet" href="all.min.css" />
    <link rel="stylesheet" href="./alert.css" />
  </head>
  <body>
    <div class="wrapper">
      <!-- NavBar starts here  -->
      <nav id="navbar">
        <h1 class="logo">
          <span class="text-primary">
            <i class="fa-brands fa-uikit"></i>
            CRIPSY </span
          >UI
        </h1>
        <ul>
          <li><a href="#">DOCS</a></li>
          <li><a href="#">GITHUB</a></li>
        </ul>
      </nav>
      <!-- bottom sidebar starts here -->
      <div class="bottom-nav">
        <ul>
          <li><a href="#">Alert</a></li>
          <li><a href="#">Avatar</a></li>
          <li><a href="#">Badges</a></li>
          <li><a href="#">Buttons</a></li>
          <li><a href="#">Card</a></li>
          <li><a href="#">Images</a></li>
          <li><a href="#">Input</a></li>
          <li><a href="#">Toast</a></li>
          <li><a href="#">Grids</a></li>
          <li><a href="#">Navbar</a></li>
        </ul>
      </div>
      <!-- bottm sidebar ends here -->
    </div>
    <!-- wrapper class ends here -->
    <!-- ---------------------------------------------------------------------------------------- -->

    <!-- component showcase starts here -->

    <div class="section">
      <div class="container">
        <div class="content-section">
          <div class="title">
            <h1>Alert</h1>
          </div>
          <div class="content">
            <h3>Different alerts type</h3>
        </div>
        <div class="component-display">
          <div class="alert alert-primary">
            <strong>Primary Alert! &nbsp;</strong>
            <span>I am a primary alert. Please check it out</span>
          </div>
          <div class="alert alert-secondary">
            <strong>secondary Alert! &nbsp;</strong>
            <span>I am an error alert. Please check it out.</span>
          </div>
          <div class="alert alert-success">
            <strong>Success Alert! &nbsp;</strong>
            <span>I am a success alert. Please check it out</span>
          </div>
          <div class="alert alert-warning">
            <strong>Warning Alert! &nbsp;</strong>
            <span>I am a warning alert. Please check it out</span>
          </div>

          <pre class="snippet">
            <code class="language-html">
              &#x3C;div class=&#x22;alert alert-primary&#x22;&#x3E;
              &#x3C;strong class=&#x22;bold-xl&#x22;&#x3E;Primary Alert! &#x26;nbsp;&#x3C;/strong&#x3E;
              &#x3C;span&#x3E;I am a primary alert. Please check it out&#x3C;/span&#x3E;
            &#x3C;/div&#x3E;
            &#x3C;div class=&#x22;alert alert-secondary&#x22;&#x3E;
              &#x3C;strong class=&#x22;bold-xl&#x22;&#x3E;secondary Alert! &#x26;nbsp;&#x3C;/strong&#x3E;
              &#x3C;span&#x3E;I am an error alert. Please check it out.&#x3C;/span&#x3E;
            &#x3C;/div&#x3E;
            &#x3C;div class=&#x22;alert alert-success&#x22;&#x3E;
              &#x3C;strong class=&#x22;bold-xl&#x22;&#x3E;Success Alert! &#x26;nbsp;&#x3C;/strong&#x3E;
              &#x3C;span&#x3E;I am a success alert. Please check it out&#x3C;/span&#x3E;
            &#x3C;/div&#x3E;
            &#x3C;div class=&#x22;alert alert-warning&#x22;&#x3E;
              &#x3C;strong class=&#x22;bold-xl&#x22;&#x3E;Warning Alert! &#x26;nbsp;&#x3C;/strong&#x3E;
              &#x3C;span&#x3E;I am a warning alert. Please check it out&#x3C;/span&#x3E;
            &#x3C;/div&#x3E;</code>
          </pre>
        </div>
      </div>
    </div>
  </body>
  <script src="/prism.js"></script>
</html>
